<footer>
    <a href="https://www.fivemods.net"><img  class="fm-brand" src="https://assets.fivemods.net/static-assets/img/svg/brand/svg/fivemods_brand_icon_watermark_primary_1500x1500.svg" alt="FiveMods"></a>
    <div class="credits">
        Made by <a href="https://github.com/AwesomeCore1" target="_blank">AwesomeCore1</a> and <br><a href="https://fivemods.net/user/Fredney/" target="_blank">Fredney</a>
    </div>
</footer>

<!-- <div class="popup">
    <h5 class="popup-name">AwesomeCore1</h5>
    <div class="popup-info" title="ID">
        <img src="https://ext-cdn.fivemods.net/img/a14nEMrzIR6Wh2FG.svg" alt="ID">
        <p>123</p>
    </div>
    <div class="popup-info" title="Vehicle">
        <img src="https://ext-cdn.fivemods.net/img/YBOlTpnHF3qvwi1C.svg" alt="Vehicle">
        <p>ALPHA</p>
    </div>
    <div class="popup-info" title="Heading">
        <img src="https://ext-cdn.fivemods.net/img/e01jSfDIA5Zm3XRK.svg" alt="Heading">
        <p>123 / North</p>
    </div>
    <div class="popup-info" title="Altitude">
        <img src="https://ext-cdn.fivemods.net/img/tPceydZqS2CQrBKj.svg" alt="Altitude">
        <p>123</p>
    </div>
</div> -->