<footer>
    <a href="https://www.fivemods.net"><img  class="fm-brand" src="https://assets.fivemods.net/static-assets/img/svg/brand/svg/fivemods_brand_icon_watermark_primary_1500x1500.svg" alt="FiveMods"></a>
    <div class="credits">
        Made by <a href="https://github.com/AwesomeCore1" target="_blank">AwesomeCore1</a> and <br><a href="https://fivemods.net/user/Fredney/" target="_blank">Fredney</a> for <a href="https://lucaasfs.com" target="_blank">LFS</a>
    </div>
</footer>