<nav>
    <div class="nav-left">
        <img src="https://cdn.discordapp.com/attachments/782953242887585853/796662058878894080/profile-girl.jpg" class="nav-brand" alt="LFS">
        <h1 class="nav-title">Lucaas Flight Simulator - Live Map</h1>
    </div>

    <div class="nav-right">
        <a class="nav-button" href="https://lucaasfs.com">
            <span>Main website</span>
            <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.3594 0.609375L14.863 5.11298C15.2308 5.48084 15.4375 5.97976 15.4375 6.5C15.4375 7.02024 15.2308 7.51916 14.863 7.88702L10.3594 12.3906C10.0228 12.7272 9.47717 12.7272 9.14062 12.3906C8.80408 12.0541 8.80408 11.5084 9.14062 11.1719L12.5938 7.71875L13 7.3125H0.8125C0.363769 7.3125 0 6.94873 0 6.5C0 6.05127 0.363769 5.6875 0.8125 5.6875H13L12.5938 5.28125L9.14062 1.82812C8.80408 1.49158 8.80408 0.945923 9.14062 0.609375C9.47717 0.272827 10.0228 0.272827 10.3594 0.609375Z" fill="white"/>
            </svg>
        </a>
    </div>
</nav>