<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container-fluid h-75">
    <div class="jumbotron map" id="map">

    </div>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>

<script>

    var bottomLeft = [0, 0];
    var topRight = [4096, 4096];
    var bounds = [bottomLeft, topRight];

    var popupid;

    var map = L.map('map', {
        crs: L.CRS.Simple,
        minZoom: -1.7,
        maxBounds: bounds,
        maxBoundsViscosity: 1.0
    });

    map.on('popupopen', function (e) {
        popupid = e.popup._source._myId;
    });


    var image = L.imageOverlay('https://img-cdn.fivemods.net/unsafe/filters:format(webp):quality(90):sharpen(1,0.3,true)/http://blog.damonpollard.com/wp-content/uploads/2013/09/GTAV_ATLUS_4096x4096.png', bounds).addTo(map);

    map.fitBounds(bounds);

</script>

<script src="/socket.io/socket.io.js"></script>

<script>
    var socket = io();
    var marker = new Array();

    socket.on('result', function (result) {

        markerDelAgain();

        const json = JSON.parse(result);

        function markerAdd() {
            for (i = 0; i < json.length; i++) {
                var userid = json[i]['id'];
                var username = json[i]['name'];
                var vehicle = json[i]['vehicle'] || "Just walking";
                var Xcoord = json[i]['coords'][0];
                var Ycoord = json[i]['coords'][1];
                var Zcoord = json[i]['coords'][2];
                var heading = json[i]['heading'];
                var headingText;
                
                if (heading > 45 && heading <= 135) {
                    headingText = 'West';
                } else if (heading > 135 && heading <= 225) {
                    headingText = 'South';
                } else if (heading > 225 && heading <= 315) {
                    headingText = 'East';
                } else {
                    headingText = 'North';
                }

                if (vehicle != 0) {
                    // do stuff
                }

                let usercoords = getPictureCoords(Xcoord, Ycoord);

                var LamMarker = new L.marker([usercoords[1], usercoords[0]]);
                LamMarker._myId = userid;
                LamMarker.addTo(map);
                if (popupid == userid) {
                    LamMarker.bindPopup(`
                    <div class="popup">
                        <h5 class="popup-name">${username}</h5>
                        <div class="popup-info" title="ID">
                            <img src="https://ext-cdn.fivemods.net/img/a14nEMrzIR6Wh2FG.svg" alt="ID">
                            <p>${userid}</p>
                        </div>
                        <div class="popup-info" title="Vehicle">
                            <img src="https://ext-cdn.fivemods.net/img/YBOlTpnHF3qvwi1C.svg" alt="Vehicle">
                            <p>${vehicle}</p>
                        </div>
                        <div class="popup-info" title="Heading">
                            <img src="https://ext-cdn.fivemods.net/img/e01jSfDIA5Zm3XRK.svg" alt="Heading">
                            <p>${heading + ' / ' + headingText}</p>
                        </div>
                        <div class="popup-info" title="Altitude">
                            <img src="https://ext-cdn.fivemods.net/img/tPceydZqS2CQrBKj.svg" alt="Altitude">
                            <p>${Zcoord}</p>
                        </div>
                    </div>`)
                        .openPopup();

                } else {
                    LamMarker.bindPopup(`
                    <div class="popup">
                        <h5 class="popup-name">${username}</h5>
                        <div class="popup-info" title="ID">
                            <img src="https://ext-cdn.fivemods.net/img/a14nEMrzIR6Wh2FG.svg" alt="ID">
                            <p>${userid}</p>
                        </div>
                        <div class="popup-info" title="Vehicle">
                            <img src="https://ext-cdn.fivemods.net/img/YBOlTpnHF3qvwi1C.svg" alt="Vehicle">
                            <p>${vehicle}</p>
                        </div>
                        <div class="popup-info" title="Heading">
                            <img src="https://ext-cdn.fivemods.net/img/e01jSfDIA5Zm3XRK.svg" alt="Heading">
                            <p>${heading + ' / ' + headingText}</p>
                        </div>
                        <div class="popup-info" title="Altitude">
                            <img src="https://ext-cdn.fivemods.net/img/tPceydZqS2CQrBKj.svg" alt="Altitude">
                            <p>${Zcoord}</p>
                        </div>
                    </div>`);
                }

                marker.push(LamMarker);

            }
        }

        function markerDelAgain() {
            for (i = 0; i < marker.length; i++) {
                map.removeLayer(marker[i]);
            }
            marker.length = 0;
        }

        markerAdd();


        function getPictureCoords(x, y) {
            const ZeroX = 1876;
            const ZeroY = 1331;
            const Scale = 3.037861303705727;
            var x = x / Scale;
            var y = y / Scale;
            trueX = ZeroX + x;
            trueY = ZeroY + y;
            return [Math.floor(trueX), Math.floor(trueY)];
        }

    });

</script>